//COLORS
$grey-base:               #333333;
$blue:                    #4c98d3;
$scarlet:                 #eb5757;
$red:                     #ff0000;
$purple:                  #4C2BF6;
$lilac-bright:            #C295FF;



